[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;

X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-AutoInstClonable=false
X-SuSE-YaST-AutoInstRequires=lan
X-SuSE-YaST-AutoInstSchema=cm.rnc
X-SuSE-YaST-AutoInstResource=configuration_management
X-SuSE-YaST-AutoInstClient=configuration_management_auto
X-SuSE-YaST-Keywords=salt,privisioning,configuration_management

Name=YaST2 CM
